@(plano: sistema.Plano, auxiliar: controllers.Auxiliar)

@import helper._ 

@main("Meu curso") {
	<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
		role="banner">
		<div class="navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a href="" class="navbar-brand">Home</a>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse"
					role="navigation">
					<ul class="nav navbar-nav">
						<li><a href="">Ajuda</a></li>
						<li><a href="">Dicas</a></li>
						<li><a href="">Overview</a></li>
						<li class="active"><a href="">Colabore</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="">Sobre</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	
	<br></br>
	
	<div class="wrapper" style="height: 100%;">
		<div class="titulo">
			<nome-principal>Meu Curso</nome-principal>
		</div>	
		<div id="colunas">
			<div id="c1" class="coluna">
				<nome>@plano.getTotalCredits(1) credito(s)</nome>
				<nome>dificuldade: @plano.getDegreeOfDifficulty(1)</nome>
				</br>
				@for(disciplina <- plano.getAllocatedDisciplines(1)){
					<div class="disciplina">
						<nome>@plano.getNameDiscipline(disciplina)</nome><br/>
						<descricao>@plano.getCreditsDiscipline(disciplina) creditos</descricao></br>
						<descricao>Dificuldade: @plano.getDegreeOfDifficultyOfTheDiscipline(disciplina)</descricao>		
					</div>
				}
			</div>
		
			<div id="c2" class="coluna">
				<nome>@plano.getTotalCredits(2) creditos</nome>
				<nome>dificuldade: @plano.getDegreeOfDifficulty(2)</nome>
				</br>
				@for(disciplina <- plano.getAllocatedDisciplines(2)){
				<div class="disciplina">
					<nome>@plano.getNameDiscipline(disciplina)</nome><br/>
					<descricao>@plano.getCreditsDiscipline(disciplina) creditos</descricao></br>
					<descricao>Dificuldade: @plano.getDegreeOfDifficultyOfTheDiscipline(disciplina)</descricao>		
					</br>
					<a href=@auxiliar.concatenaCaminho("/remove/",disciplina, 2)>remover</a>
				</div>
				}
			</div>
			
			<div id="c3" class="coluna">
				<nome>@plano.getTotalCredits(3) creditos</nome>
				<nome>dificuldade: @plano.getDegreeOfDifficulty(3)</nome>
				</br>
				@for(disciplina <- plano.getAllocatedDisciplines(3)){
				<div class="disciplina">
					<nome>@plano.getNameDiscipline(disciplina)</nome><br/>
					<descricao>@plano.getCreditsDiscipline(disciplina) creditos</descricao></br>
					<descricao>Dificuldade: @plano.getDegreeOfDifficultyOfTheDiscipline(disciplina)</descricao>		
					</br>
					<a href=@auxiliar.concatenaCaminho("/remove/",disciplina, 3)>remover</a>
				</div>
				}
			</div>
			
			<div id="c4" class="coluna">
				<nome>@plano.getTotalCredits(4) creditos</nome>
				<nome>dificuldade: @plano.getDegreeOfDifficulty(4)</nome>
				</br>
				@for(disciplina <- plano.getAllocatedDisciplines(4)){
				<div class="disciplina">
					<nome>@plano.getNameDiscipline(disciplina)</nome><br/>
					<descricao>@plano.getCreditsDiscipline(disciplina) creditos</descricao></br>
					<descricao>Dificuldade: @plano.getDegreeOfDifficultyOfTheDiscipline(disciplina)</descricao>		
					</br>
					<a href=@auxiliar.concatenaCaminho("/remove/",disciplina, 4)>remover</a>
				</div>
				}
			</div>
			
			<div id="c5" class="coluna">
				<nome>@plano.getTotalCredits(5) creditos</nome>
				<nome>dificuldade: @plano.getDegreeOfDifficulty(5)</nome>
				</br>
				@for(disciplina <- plano.getAllocatedDisciplines(5)){
				<div class="disciplina">
					<nome>@plano.getNameDiscipline(disciplina)</nome><br/>
					<descricao>@plano.getCreditsDiscipline(disciplina) creditos</descricao></br>
					<descricao>Dificuldade: @plano.getDegreeOfDifficultyOfTheDiscipline(disciplina)</descricao>		
					</br>
					<a href=@auxiliar.concatenaCaminho("/remove/",disciplina, 5)>remover</a>
				</div>
				}
			</div>
			
			<div id="c6" class="coluna">
				<nome>@plano.getTotalCredits(6) creditos</nome>
				<nome>dificuldade: @plano.getDegreeOfDifficulty(6)</nome>
				</br>
				@for(disciplina <- plano.getAllocatedDisciplines(6)){
				<div class="disciplina">
					<nome>@plano.getNameDiscipline(disciplina)</nome><br/>
					<descricao>@plano.getCreditsDiscipline(disciplina) creditos</descricao></br>
					<descricao>Dificuldade: @plano.getDegreeOfDifficultyOfTheDiscipline(disciplina)</descricao>		
					</br>
					<a href=@auxiliar.concatenaCaminho("/remove/",disciplina, 6)>remover</a>
				</div>
				}
			</div>
			
			<div id="c7" class="coluna">
				<nome>@plano.getTotalCredits(7) creditos</nome>
				<nome>dificuldade: @plano.getDegreeOfDifficulty(7)</nome>
				</br>
				@for(disciplina <- plano.getAllocatedDisciplines(7)){
				<div class="disciplina">
					<nome>@plano.getNameDiscipline(disciplina)</nome><br/>
					<descricao>@plano.getCreditsDiscipline(disciplina) creditos</descricao></br>
					<descricao>Dificuldade: @plano.getDegreeOfDifficultyOfTheDiscipline(disciplina)</descricao>		
					</br>
					<a href=@auxiliar.concatenaCaminho("/remove/",disciplina, 7)>remover</a>
				</div>
				}
			</div>
			
			<div id="c8" class="coluna">
				<nome>@plano.getTotalCredits(8) creditos</nome>
				<nome>dificuldade: @plano.getDegreeOfDifficulty(8)</nome>
				</br>
				@for(disciplina <- plano.getAllocatedDisciplines(8)){
				<div class="disciplina">
					<nome>@plano.getNameDiscipline(disciplina)</nome><br/>
					<descricao>@plano.getCreditsDiscipline(disciplina) creditos</descricao></br>
					<descricao>Dificuldade: @plano.getDegreeOfDifficultyOfTheDiscipline(disciplina)</descricao>		
					</br>
					<a href=@auxiliar.concatenaCaminho("/remove/",disciplina, 8)>remover</a>
				</div>
				}
			</div>
			
			<div id="c9" class="coluna">
				<nome>@plano.getTotalCredits(9) creditos</nome>
				<nome>dificuldade: @plano.getDegreeOfDifficulty(9)</nome>
				</br>
				@for(disciplina <- plano.getAllocatedDisciplines(9)){
				<div class="disciplina">
					<nome>@plano.getNameDiscipline(disciplina)</nome><br/>
					<descricao>@plano.getCreditsDiscipline(disciplina) creditos</descricao></br>
					<descricao>Dificuldade: @plano.getDegreeOfDifficultyOfTheDiscipline(disciplina)</descricao>		
					</br>
					<a href=@auxiliar.concatenaCaminho("/remove/",disciplina, 9)>remover</a>
				</div>
				}
			</div>
			
			<div id="c10" class="coluna">
				<nome>@plano.getTotalCredits(10) creditos</nome>
				<nome>dificuldade: @plano.getDegreeOfDifficulty(10)</nome>
				</br>
				@for(disciplina <- plano.getAllocatedDisciplines(10)){
				<div class="disciplina">
					<nome>@plano.getNameDiscipline(disciplina)</nome><br/>
					<descricao>@plano.getCreditsDiscipline(disciplina) creditos</descricao></br>
					<descricao>Dificuldade: @plano.getDegreeOfDifficultyOfTheDiscipline(disciplina)</descricao>		
					</br>
					<a href=@auxiliar.concatenaCaminho("/remove/",disciplina, 10)>remover</a>
				</div>
				}
			</div>
		</div>
		</div>
		<div class="wrapper" style="height: 100%;">
			<div class="titulo">
					<nome-principal>Disciplinas Ofertadas</nome-principal>
			</div>
			<div id="disciplinas">
				@for(disciplina <- plano.getAllDisciplines()){
						<div class="disciplina float-left" >
							<nome>@plano.getNameDiscipline(disciplina)</nome><br/>
							<descricao>@plano.getCreditsDiscipline(disciplina) creditos</descricao>		
							</br>
							<descricao>Dificuldade: @plano.getDegreeOfDifficultyOfTheDiscipline(disciplina)</descricao>									
							</br>
							<a href=@auxiliar.concatenaCaminho("/meuPlano/",disciplina,2)>2</a>
							<a href=@auxiliar.concatenaCaminho("/meuPlano/",disciplina,3)>3</a>
							<a href=@auxiliar.concatenaCaminho("/meuPlano/",disciplina,4)>4</a>
							<a href=@auxiliar.concatenaCaminho("/meuPlano/",disciplina,5)>5</a>
							<a href=@auxiliar.concatenaCaminho("/meuPlano/",disciplina,6)>6</a>
							<a href=@auxiliar.concatenaCaminho("/meuPlano/",disciplina,7)>7</a>
							<a href=@auxiliar.concatenaCaminho("/meuPlano/",disciplina,8)>8</a>	
							<a href=@auxiliar.concatenaCaminho("/meuPlano/",disciplina,9)>9</a>	
							<a href=@auxiliar.concatenaCaminho("/meuPlano/",disciplina,10)>10</a>	
						</div>
					
				}				
			</div>
		</div>
	</div>
}
